<h1> New Student Form </h1>


<%= form_for @student do |form| %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <br>
    <%= form.label :first_name %>
    <%= form.text_field :last_name %>
    <br>
    <%= form.submit value: "Make Student" %>

<% end %>



